@import "../../../styles/vars.scss";
#app {
  color: #333;
  background-color: $white;
  width: 100%;
  height: 100%;

  .page-layout {
    height: 100%;

    .pusher {
      height: 100%;
      overflow: scroll;
    }

    .pushable > .dimmer {
      cursor: pointer;
    }

    main {
      display: flex;
      flex-direction: column;
      min-height: 100%;
    }

    .ui.visible.thin.left.sidebar ~ .pusher {
      @include respond-to("lg") {
        max-width: calc(100% - #{$sidebar-size});
      }
      @include respond-to("only-sm", "only-md", "xs") {
        overflow: hidden;
      }
    }

    .main-content {
      display: flex;
      flex-grow: 1;
      padding-top: 100px;
      padding-left: 1rem;
      padding-right: 1rem;

      .ui.container {
        @include respond-to("xs") {
          margin: 0 auto !important;
        }
        @include respond-to("sm", "xs") {
          width: 100% !important;
        }

        .grid {
          position: relative;
          min-width: 100%;
          min-height: 100%;
        }
      }
    }
  }
}

.full-container {
  width: 100vw;
  min-height: 100vh;

  .flex-container {
    display: flex;
    flex-wrap: wrap;

    > .half-box {
      width: 45%;
      margin-right: 5px;
    }

    > .qtr-box {
      width: 67%;
    }

    > .qtr-box-inv {
      width: 30%;
      margin-right: 10px;
    }
  }
}
.font-w {
  color: $white !important;
}

.main-container {
  margin: 10px 25px 30px 10px;
}

.ui.card,
.ui.cards > .card {
  width: 268px !important;
}

@media screen and (max-width: 767px) {
  .flex-container {
    > .qtr-box,
    .qtr-box-inv {
      width: 100% !important;
      margin: 10px 2px 10px 2px;
    }
  }

  .ui.cards {
    align-items: center;
    justify-content: center;
  }

  .ui.card,
  .ui.cards > .card {
    width: 295px !important;
  }

  .main-container {
    margin: 10px 0 10px 0;
  }
}
