ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.dd-wrapper {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: none;
  width: 100%;
  margin-bottom: 20px;
}

.dd-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  line-height: 38px;
  cursor: pointer;
  position: relative;
  border-radius: 0.28571429rem;
  padding-left: 1em;
  text-align: left;
}

.angle-down {
  color: #000;
  margin-right: 20px;
}

.dd-list {
  z-index: 10;
  position: absolute;
}

.right {
  float: right;
}

span.ticket-counter {
  font-size: medium;
  font-weight: 500;
  width: 50px;
  text-align: center;
}

.dd-list-item {
  padding: 3px 3px;
  line-height: 28px;
  cursor: default;
  display: inline-block;
  white-space: nowrap;
}

.dd-wrapper-single .dd-list {
  border: 1px solid #ccc;
  border-top: none;
}

