@import '../../../styles/vars.scss';
html {
    height: 100% !important;
}
footer {
    width: 100vw;
    background-color: #1b1c1d;
    color: $white;
    padding-bottom: 1px;
    height: 90px;
    box-shadow: inset 0 0 0 0 $grey,0 2px 1px 0 rgba(47,61,73,.05);
    .footer-inner {
        padding: 0 1rem;
        padding-top: 20px;
    }
}
