.slider {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  width: 100vw;
  background-size: cover;
  opacity: 0.6;

  &.big-slider {
    height: 100vh;
  }

  &.small-slider {
    height: 50vh;
  }
}
